body {
  /* align-items: center; */
  text-align: center;
  background-image: url(./144Z_2106.w026.n002.526B.p1.526.jpg);
}

.TD{
    color: white;
    padding-bottom: 5%;
}

.CTD{
    border-radius: 10%;
}