body {
  /* align-items: center; */
  text-align: center;
  /* background-image: url(./144Z_2106.w026.n002.526B.p1.526.jpg); */
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: black;
}
img {
  width: 100%;
}

.TD {
  color: white;
  /* padding-bottom: 10%; */
  padding-top: 5%;
}

.controls {
  /*background: none;
  border: none; */
  display: flex;
  /* text-align: justify; */
  padding-left: 15%;
  gap: 10%;
}

button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.todo-input {
  padding-top: 5%;
}
.foot {
  padding-top: 20%;
  color: white;
}

#todo-list {
  width: 60%;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#todo-list li {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-list li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

#new-todo {
  width: 60%;
  padding: 1rem;
  background: #1a1a2e;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}
